@use "../design-tokens" as *;

.button {
  all: unset;
  display: inline-flex;
  cursor: pointer;
  transition: all 0.25s ease;
  font-weight: 500;
  color: var(--button-color, #{get-color(grey, 50)});
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
  }

  &.full_width {
    display: flex;
    width: 100%;
  }
}

.filled,
.light {
  background-color: var(--button-main-color);
}

.outlined {
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-main-color);
  color: var(--button-main-color);
}

.text {
  background-color: transparent;
}

.primary {
  --button-main-color: #{get-color(blue, 700)};

  &:hover {
    --button-main-color: #{get-color(blue, 800)};
  }

  &.light {
    --button-main-color: #{get-color(blue, 100)};
    --button-color: #{get-color(blue, 700)};

    &:hover {
      --button-main-color: #{get-color(blue, 50)};
    }
  }
}

.secondary {
  --button-main-color: #{get-color(purple, 700)};

  &:hover {
    --button-main-color: #{get-color(purple, 800)};
  }

  &.light {
    --button-main-color: #{get-color(purple, 100)};
    --button-color: #{get-color(purple, 700)};

    &:hover {
      --button-main-color: #{get-color(purple, 200)};
    }
  }
}

.error {
  --button-main-color: #{get-color(red, 700)};

  &:hover {
    --button-main-color: #{get-color(red, 800)};
  }

  &.light {
    --button-main-color: #{get-color(red, 100)};
    --button-color: #{get-color(red, 700)};

    &:hover {
      --button-main-color: #{get-color(red, 200)};
    }
  }
}

.warning {
  --button-main-color: #{get-color(orange, 700)};

  &:hover {
    --button-main-color: #{get-color(orange, 800)};
  }

  &.light {
    --button-main-color: #{get-color(orange, 100)};
    --button-color: #{get-color(orange, 700)};

    &:hover {
      --button-main-color: #{get-color(orange, 50)};
    }
  }
}

.success {
  --button-main-color: #{get-color(green, 700)};

  &:hover {
    --button-main-color: #{get-color(green, 800)};
  }

  &.light {
    --button-main-color: #{get-color(green, 100)};
    --button-color: #{get-color(green, 700)};

    &:hover {
      --button-main-color: #{get-color(green, 200)};
    }
  }
}

.disabled {
  --button-color: #{get-color(grey, 600)};
  --button-main-color: #{get-color(grey, 400)};
  cursor: not-allowed;

  &:hover {
    --button-main-color: #{get-color(grey, 400)};
  }

  &.outlined {
    --button-main-color: #{get-color(grey, 600)};
    color: var(--button-color);
  }

  &.light {
    --button-color: #{get-color(grey, 600)};
    --button-main-color: #{get-color(grey, 400)};
  }
}

.small {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
}

.medium {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 8px;
}

.large {
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
}
