@use "../design-tokens" as *;

.image_preview {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image {
  max-inline-size: 100%;
  max-block-size: 100%;
  object-fit: contain;
  display: block;
}

[data-status="loading"] {
  .image {
    opacity: 0;
  }
}

[data-status="loaded"] {
  .image {
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 150ms var(--easing-default);
    }
  }
}
