@use "@jonathanramlie/neuron/design-tokens" as dt;

.main {
  min-height: 100vh;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  padding: 24px;

  & > :first-child {
    margin-block: auto;
  }
}

.heading {
  margin: 0;
}

.jobtitle {
  margin-top: 16px;

  & > * {
    display: block;
    margin: 0;
  }
}

.alternate {
  color: var(--typography-secondary);
  word-break: break-word;
  margin-top: 4px;

  & > span {
    white-space: nowrap;
  }

  & > span:not(:last-child)::after {
    content: "/";
    margin-inline: 4px;

    @include dt.breakpoint("sm") {
      margin-inline: 8px;
    }
  }
}

.construction {
  margin-top: 64px;
  text-align: center;
  align-self: flex-start;
  padding-block: 8px;
  width: 100%;

  & > * {
    margin: 0;
  }
}

.portfolio_link {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-size: var(--typography-body1-font-size);
  color: var(--typography-link);

  &:hover {
    text-decoration: underline;
  }
}

.socials {
  display: flex;
  gap: 16px;
  justify-content: center;

  filter: contrast(0);
}
