.container {
  & > * {
    display: block;
    & + * {
      margin-top: 16px;
    }
  }
}

.input {
  border-radius: 4px;
  width: 100%;
  border: none;
  outline: none;
  line-height: 22px;
  font-size: 22px;
  background-color: var(--color-grey-800);
  color: var(--typography-primary);
  padding: 6px 12px;

  &:focus {
    outline: 2px solid var(--palette-primary-main);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
  }
}

.control_area {
  display: flex;
  gap: 16px;
  align-items: center;

  & > * {
    margin: 0;
  }
}

.reset_button {
  all: unset;
  cursor: pointer;
  color: var(--color-grey-400);
  font: inherit;
  height: 100%;
  display: inline-block;
  background-color: var(--color-grey-800);
  padding: 12px 24px;
  border-radius: 4px;
  font-size: var(--typography-body1-font-size);
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--palette-neutral-main);
    color: var(--color-grey-800);
  }

  &:focus {
    outline: 2px solid var(--palette-primary-main);
  }
}
