@use "sass:meta";
@use "sass:map";
@use "variables" as vars;

@function get-color($name, $shade) {
  $family: map.get(vars.$color, $name);
  @if not $family {
    @error "Unknown color '#{$name}'.";
  }
  $value: map.get($family, $shade);
  @if not $value {
    @error "Unknown shade '#{$shade}' for color '#{$name}'.";
  }
  @return $value;
}

@function to-string($list, $separator: "") {
  $accumulator: "";

  @if meta.type-of($list) != "list" {
    @error "Variable $list is not a list found: #{$list}";
    @return $list;
  }

  @each $val in $list {
    @if $val != "" {
      @if $accumulator != "" {
        $accumulator: $accumulator + $separator + $val;
      } @else {
        $accumulator: $val;
      }
    }
  }

  @return $accumulator;
}
