@use "index" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "modern-normalize/modern-normalize.css";

:root {
  @include register-variable($palette, "palette");
  @include register-variable($color, "color");

  @include register-variable($typography-light-scheme, "typography");
  @include register-variable($typography-preset, "typography");

  --bg-color: var(--color-grey-50);

  &[data-theme="dark"] {
    --bg-color: var(--color-grey-900);
    @include register-variable($typography-dark-scheme, "typography");
  }

  @media (prefers-color-scheme: dark) {
    --bg-color: var(--color-grey-900);
    @include register-variable($typography-dark-scheme, "typography");
  }
}

body {
  background-color: var(--bg-color);
}
