@use "index" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "modern-normalize/modern-normalize.css";

@mixin dark-scheme {
  --bg-color: #{get-color(grey, 900)};
  @include register-variable($typography-dark-scheme, "typography");
}

:root {
  @include register-variable($palette, "palette");

  @include register-variable($typography-light-scheme, "typography");

  --bg-color: #{get-color(grey, 50)};

  @media (prefers-color-scheme: dark) {
    @include dark-scheme;
  }
}

body {
  background-color: var(--bg-color);

  &[data-theme="dark"] {
    @include dark-scheme;
  }
}
