.tabs {
  display: block;
}

.tabs_list {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: var(--space-1);
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}
